#root {

  background-color: black;
  color: white;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 1rem; */
}

/* Hide scrollbar */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

